<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget Application</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
<section class="weather-container">
    <form action="/" method="get" class="form">
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="Enter city" value="<%= city %>">
        </div>
        <div>
            <label for="currencyFrom">From</label>
            <input id="currencyFrom" name="currencyFrom" value="<%= currencyFrom.toUpperCase() %>">
            <label for="currencyTo">To</label>
            <input id="currencyTo" name="currencyTo" value="<%= currencyTo.toUpperCase() %>">
        </div>
        <button type="submit">Update</button>
    </form>

    <section>
        <strong>Weather Information</strong>
        <% if (weatherData) { %>
            <p>Temperature: <%= weatherData.temperature %> &deg;C</p>
            <p>Feels Like: <%= weatherData.feelsLike %> &deg;C</p>
            <p>Description: <%= weatherData.description %></p>
            <img src="https://openweathermap.org/img/w/<%= weatherData.icon %>.png" alt="Weather Icon">
            <p>Coordinates: <%= weatherData.coordinates.lat %>, <%= weatherData.coordinates.lon %></p>
            <div id="map"></div>
            <p>Humidity: <%= weatherData.humidity %>%</p>
            <p>Pressure: <%= weatherData.pressure %> hPa</p>
            <p>Wind Speed: <%= weatherData.windSpeed %> m/s</p>
            <p>Rain Volume: <%= weatherData.rainVolume %> mm</p>
            <p>Country Code: <%= weatherData.countryCode %></p>
        <% } else { %>
            <p>Weather Information: Unavailable</p>
        <% } %>
    </section>

    <section>
        <strong>Currency Information</strong>
        <p>
            <% if (currencyData) { %>
                Exchange Rate: 1 <%= currencyFrom.toUpperCase() %>
                is <%= currencyData.rate %> <%= currencyTo.toUpperCase() %>
            <% } else { %>
                Exchange Rate: Unavailable
            <% } %>
        </p>
    </section>

    <section id="quote">
        <strong>Quote of the Day</strong>
        <% if (quoteData) { %>
            <div>
                <p>
                    <%= quoteData.quote %>
                </p>
            </div>
            <p>Author: <%= quoteData.author %></p>
        <% } else { %>
            <p>Quote: Unavailable</p>
        <% } %>
    </section>
</section>

<% if (weatherData) { %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script>
        var map = L.map("map").setView([<%= weatherData.coordinates.lat %>, <%= weatherData.coordinates.lon %>], 10);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "© OpenStreetMap contributors",
        }).addTo(map);
    </script>
<% } %>

</body>

</html>
