<%- include("_partial/header.ejs") %>

<div class="container mt-5">
    <h1><%= ctx.portfolio.title; %></h1>
    <h6 class="text-muted"><%= ctx.user.firstName; %> <%= ctx.user.lastName; %></h6>
    <div class="mt-3">
        <h3>Description</h3>
        <p><%= ctx.portfolio.description; %></p>
    </div>
    <% if (ctx.portfolio.pictures.length > 0) { %>
        <div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner rounded-5">
                <% ctx.portfolio.pictures.forEach((picture, index) => { %>
                    <div class="carousel-item <%= index === 0 ? "active" : ""; %>">
                        <div>
                            <div class="card rounded-5" style="overflow: hidden;">
                                <img src="/uploads/<%= picture.filename; %>" class="card-img-top"
                                     alt="<%= picture.description; %>">
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= picture.description; %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#portfolioCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#portfolioCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <% } else { %>
        <div class="alert alert-warning" role="alert">
            No photo was provided
        </div>
    <% } %>
</div>

<%- include("_partial/footer.ejs") %>
